<div id="target-chat-window" class="chat-window">
  <p class="lead text-left">
    <span style="font-size: 20px; text-align: left;" >Chat Window&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <a id="minimize-btn" onclick="toggle_visibility('chat-id')" style="color: #fff;" href=''>-</a>&nbsp;
    <a id="close-btn" onclick="hide_chat('target-chat-window')" style="color:red;" href=''>x</a>
  </p>
  <div id="chat-id" class='close-chat'>
    <p>cfh</p>
    <div class='chat-box'>
    </div>
    <form>
        <div class="form-group">
          <textarea class="form-control" name='' placeholder="Enter Message.." id=''></textarea>
        </div>
        <button type="submit" class="right btn btn-default btn-block">Send</button>
      </form>
  </div>
</div>