<div landing class="main-wrapper" >
  <!-- Fixed Logo & Menu Bar Start -->
  <header>
    <nav class="cfh-green">
      <div class="container">
        <div class="nav-wrapper" ng-controller="IndexController">
          <a href="#" class="left navbar-brand font-luminari">cfh</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#!/">Home</a></li>
            <li><a ng-click="scrollTo('main-how-play')">How to play</a></li>
            <li><a ng-click="scrollTo('main-donation')" href="">Charity</a></li>
            <li><a ng-click="scrollTo('main-cfh-definition')" href="">About us</a></li>
            <li ng-hide="showOptions"><a href="/dashboard">Dashboard</a></li>
            <li ng-hide="showOptions"><a ng-click="signOut()">Sign Out</a></li>
          </ul>
          <a data-activates="slide-out" class="button-collapse right">
            <i class="material-icons">menu</i>
          </a>
          <ul id="slide-out" class="side-nav"></ul>
        </div>
      </div>
    </nav>
  </header>

  <!-- Fixed Logo & Menu Bar End -->

  <div id="main-desc">
    <div class="container">
      <div class="main-desc-text">
        <h1 class="font-luminari main-title">Cards for humanity</h1>
        <p class="text-white main-motto">A game for horrible people desperately trying to do good.</p>
        <div class="mt-3" ng-show="showOptions">
          <a href="#!/signin" class="waves-effect waves-light btn cfh-green">Login</a>
          <a href="#!/signup" class="waves-effect waves-light btn cfh-signup-red">Signup</a>
        </div>
        <div class="mt-3" ng-hide="showOptions">
          <a href="/play" class="waves-effect waves-light btn red">Play with Strangers</a><br/>
          <a href="/play?custom" class="waves-effect waves-light btn cfh-green mt-1">Play with Friends</a>
        </div>
        <img id="main-cards" src="/svg/cards.svg">
      </div>
    </div>
  </div>

  <div class="row">
    <div class='card-panel white darken-3'>
        <span class="white-text">I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
        </span>
    </div>
  </div>

  <footer class="cfh-green">
    <div class="container">
      <div class="row mb-0">
        <div class="col s6 white-text">
          <p class="white-text">Redesigned by <strong>Team Matterhorn:</strong> Temitayo Fadojutimi, Temitope Joloko, Sofiat Abioye, Emmanuel Ogunbo, Abiona Ekundayo, Nasirudeen Abdulrasaq</p>
          <p>
            Based on Cards Against Humanity.<br/>
            Licensed under CC licensed (BY-NC-SA).<br/>
            Cards for Humanity is not affiliated with Cards Against Humanity.
          </p>
          <p>
            All proceeds from donations go directly to charity,
            as managed by crowdrise.
          </p>
        </div>
        <div class="col s6 text-right main-social">
          <div class="row">
            <div class="col s6"><img src="/img/social/mail.png" /></div>
            <div class="col s6"><img src="/img/social/gmail.png" /></div>
            <div class="col s6"><img src="/img/social/twitter.png" /></div>
            <div class="col s6"><img src="/img/social/facebook.png" /></div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
