<div class="question-container-inner row">
  <div class="cards longBlacks">
    <span ng-bind-html-unsafe="game.curQuestion.text" ng-hide="game.state === 'game ended' || game.state ==='game dissolved' || game.state === 'awaiting players'"></span>

    <div id="notifications" ng-if="game.notification" ng-animate="{enter:'animated fadeInLeft', leave:'animated fadeOut'}">{{game.notification}}</div>

    <div class="row" id="startGame" ng-show="game.state === 'awaiting players'">
      <div class="col m12 center-align finding-players">Finding Players</div>
      <div class="col m4" id="player-count-container">
        <div id="player-count">{{game.players.length}} / 12 </div>
        <div id="the-word-players"> Players </div>
      </div>
      <div class="col m4" id="loading-container">
        <div class="center-align" id="loading-gif">
          <img ng-src="../img/loader.gif" />
        </div>
      </div>



      <!-- start Game conditionally -->
      <div class="col m4 right-align" id="start-game-container" ng-click="invitePlayers()" ng-show="isUser()">
        <div class="start-game-button btn btn-large btn-success">
          Invite Players
        </div>
      </div>

      <p class="white-text" ng-show="showRegionName === true">Your region is {{ regionName }}</p>

    </div>

    <!-- Game Over Stuff -->
    <div id="game-end-info">
      <div id="people-left-game-top" ng-show="game.state ==='game dissolved' && game.gameWinner === -1">
        <div class="game-end-headline">What the!? The game ended because too many people left! </div>
        Our sincere apologies.
      </div>
      <div ng-show="game.state === 'game ended' && game.gameWinner === game.playerIndex">
        <div class="game-end-headline">Congratulations! You won the game, {{game.players[game.playerIndex].username | upperFirstLetter}}!</div>We hope you
        feel special. If you'd like to share that special feeling with the world, consider donating to charity. Or just horde
        it all for youself.
      </div>
      <div ng-show="game.state === 'game ended' && game.gameWinner !== game.playerIndex">
        <div class="game-end-headline">Aw, shucks! {{game.players[game.gameWinner].username | upperFirstLetter }} won the game!</div>
        That makes you a loser, unfortunately.
      </div>
    </div>
  </div>
</div>

<div id="theModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- close button-->
        <button type="button" class="close" onclick="$('#theModal').hide();" data-dismiss="modal">&times;
        </button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>


<div id="invitePlayers" class="modal invite-players">
  <div class="modal-content">

    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s6">
            <a href="#your-friends" ng-click="viewFriends()">FRIENDS</a>
          </li>
          <li class="tab col s6">
            <a href="#invite-friends">USERS</a>
          </li>
        </ul>
      </div>
    </div>

    <div id="invite-friends">
      <div class="col s12 search row z-depth-3">
        <input id="search" type="search" autocomplete="off" placeholder="Search for users...." ng-model="searchTerm" ng-change="searchusers()"
        />
      </div>
      <h5 class="center-align" ng-hide="searchResults.length > 0">No users found</h5>
      <div class="row" ng-show="searchResults.length > 0">
        <div ng-repeat="x in searchResults">
          <div class="row">
            <div class="col s12 m6 l8">
              <h6>{{x.name}}</h6>
            </div>
            <div class="col s12 m6 l4 search-results-btn">
              <a class="col s5 m5 l5 waves-effect waves-light action-btn" ng-click="addFriend(x)" ng-hide="friendsId.includes(x._id)">
                <i class="material-icons">group_add</i>
              </a>
              <div class="col s5 m5 l5" ng-show="friendsId.includes(x._id)"></div>
              <div class="col s2 m2 l2"></div>
              <a class="col s5 m5 l5 waves-effect waves-light action-btn" ng-click="sendNotification(x)" ng-hide="inviteList.includes(x._id)">
                <i class="material-icons">videogame_asset</i>
              </a>
            </div>
          </div>
          <div class="divider"></div>
        </div>
      </div>
    </div>

    <div id="your-friends" class="friends-info">
      <div class="row">
        <div class="col s12 friends">
          <h6 class="col s6 m6 l6">
            Friends: {{friendsList.length}}
          </h6>
          <div class="col s1 m3 l3 waves-effect waves-light"></div>
          <a class="col s5 m3 l3 waves-effect waves-light action-btn" ng-show="friendsList.length > 0" ng-click="sendNotification()">INVITE FRIENDS</a>
        </div>
        <div class="col s12 list">
          <ul class="collection" ng-show="friendsList.length > 0">
            <li class="collection-item" ng-repeat="x in friendsList">
              <div>
                {{x.friendName}}
              </div>
            </li>
          </ul>
          <h6 class="center-align" ng-show="friendsList.length === 0">
            You have not added any friends
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('ul.tabs').tabs();
    $('.dropdown-button').dropdown();
  });

</script>

<!-- Modal Structure for czar card decks-->
<div id="cardModal" class="card-container modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content center">
      <center>
        <h4 id="cardText" class="card-text">Hey! You are the card czar. Click a card and start the game.</h4>
        <div ng-click="shuffleCards()" ng-style="{'cursor':'pointer'}" style='margin: auto;'>
          <center>
            <img src='../img/small-card.png' style='width: 100px;' class='small-card animated flipInX' id='shufflecard1' />
            <img src='../img/small-card.png' style='width: 100px;' class='small-card animated flipInX' id='shufflecard2' />
            <img src='../img/small-card.png' style='width: 100px;' class='small-card animated flipInX' id='shufflecard3' />
            <img src='../img/small-card.png' style='width: 100px;' class='small-card animated flipInX' id='shufflecard4' />
        </div>
        </center>
        <div class="modal-footer" style='display: none'>
          <button class="modal-action modal-close waves-effect waves-green btn-flat"></button>
        </div>
    </div>
  </div>
</div>
