<div class="question-container-inner row">
  <div class="cards longBlacks">
    <span ng-bind-html-unsafe="game.curQuestion.text" ng-hide="game.state === 'game ended' || game.state ==='game dissolved' || game.state === 'awaiting players'"></span>
    
    <div id="notifications" ng-if="game.notification" ng-animate="{enter:'animated fadeInLeft', leave:'animated fadeOut'}">{{game.notification}}</div>

    <div class="row" id="startGame" ng-show="game.state === 'awaiting players'">
      <div class="col m12 center-align finding-players">Finding Players</div>
      <div class="col m4" id="player-count-container">
        <div id="player-count">{{game.players.length}} / 12 </div>
        <div id="the-word-players"> Players </div>
      </div>
      <div class="col m4" id="loading-container">
        <div class="center-align" id="loading-gif"><img ng-src="../img/loader.gif" /></div>
      </div>
      
      
      
      <!-- start Game conditionally -->
      <div id="start-game-container" ng-hide="">
        <a ng-click="showRegionModal()" class="waves-effect waves-light btn cfh-green">
          Start game
        </a>
        <p class="white-text" ng-show="showRegionName === true">Your region is {{ regionName }}</p>
      </div>
    </div>
    <!-- Game Over Stuff -->
    <div id="game-end-info">
      <div id ="people-left-game-top" ng-show="game.state ==='game dissolved' && game.gameWinner === -1">
        <div class="game-end-headline">What the!? The game ended because too many people left! </div>
        Our sincere apologies.
      </div>
      <div ng-show="game.state === 'game ended' && game.gameWinner === game.playerIndex">
        <div class="game-end-headline">Congratulations! You won the game, {{game.players[game.playerIndex].username | upperFirstLetter}}!</div>We hope you
        feel special. If you'd like to share that special feeling with the world, consider donating to charity. Or just horde
        it all for youself.
      </div>
      <div ng-show="game.state === 'game ended' && game.gameWinner !== game.playerIndex">
        <div class="game-end-headline">Aw, shucks! {{game.players[game.gameWinner].username | upperFirstLetter }} won the game!</div>
        That makes you a loser, unfortunately.
      </div>
    </div>
  </div>
</div>
