<div id="main-bod" class="authpage" ng-controller="IndexController">


  <div class="row main-wrapper">
    <!-- Sidebar with social signup options and login options-->
    <div class="col s12 m4 l3 sidebar-social">

      <div class="divider"></div>
      <h5>SIGN UP WITH</h5>
      <div class="row">
        <div class="col s6 m6 l12">
          <a href="/auth/google" class="waves-effect waves-light btn social google">
        <i class="fa fa-google"></i> google
      </a>
        </div>
        <div class="col s6 m6 l12">
          <a href="/auth/facebook" class="waves-effect waves-light btn social facebook">
        <i class="fa fa-facebook"></i>facebook</a>
        </div>
        <div class="col s6 m6 l12">
          <a href="/auth/twitter" class="waves-effect waves-light btn social twitter">
        <i class="fa fa-twitter"></i> twitter</a>
        </div>
        <div class="col s6 m6 l12">
          <a href="/auth/github" class="waves-effect waves-light btn social github">
        <i class="fa fa-github"></i> github
      </a>
        </div>
      </div>
      <div class="divider"></div>
      <p>Already have an account?</p>
      <div>
        <div class="col s6 m6 l12">
          <a class="waves-effect waves-light btn social github" href="#!/signin">
           SIGN IN
           </a>
        </div>
        <div class="col s6 m6 l12">
          <a href="/" class="waves-effect waves-light btn">HOME</a>
        </div>
      </div>
    </div>
    <!-- End of social signup and login options -->
    <!-- Start of image between the two sidebars-->
    <div class="container mid-image">
      <span class="center-image"><img src="img/md.png"></span>
    </div>
    <!-- End of image between the two sidebars-->
    <!-- Start of signup with email option -->
    <div class="col s12 m8 l9 sidebar-content">
      <div class="col m10 offset-m1 s12">
        <div class="row" ng-controller="authController">
          <form class="col s12" class="signup form-horizontal">
            <p class="error-message red-text center">
              <h5 class="red-text center">{{socialMessage}}</h5>
            </p>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons md-18 prefix">account_circle</i>
                <input class="input-info" id="name" type="text" name="name" ng-model="name" required novalidate />
                <label for="name">Username</label>
              </div>
            </div>
              <div class="row">
                <label>Choose an avatar:</label>
                <div id="contain-avatars">
                  <ul ng-controller="IndexController" class="avatar-list">
                    <li ng-repeat="avatar in avatars" class="avatars ng-scope">
                      <input name="avatar" type="radio" value="{{$index}}" id="{{$index}}">
                      <label for="{{$index}}"><img ng-src="{{avatar}}" /></label>
                      </input>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="center-align">
                <button id="sign-up-btn-other" class="btn waves-effect waves-light" type="submit" name="action" ng-click=signUp()>SIGN UP
                  <i class="material-icons right">send</i>
                </button>
              </div>
          </form>
          </div>
          <!-- End of signup with email option -->
        </div>
      </div>
    </div>
    <!-- Start of footer -->
    <div class="page-footer-custom">
      <div class="col s6 m6 l12 footer-social"> </div>
      <div class="col s6 m6 l12 footer-content"> </div>
      <script src="/js/script.js"></script>

    </div>
    <!-- End of footer -->
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <!-- Compiled and minified JavaScript -->
