a:hover, .waves-light:hover{
  color: #fff !important;
}

.text-white {
  color: #fff; }

.text-right {
  text-align: right; }

.text-shadow {
  text-shadow: 1px 1px 10px #000; }

.opacity {
  opacity: 0.3; }

.mt-0 {
  margin-top: 0; }

.clearfix {
  clear: both; }

.font-courgette {
  font-family: 'Courgette', cursive; }

.font-lobster {
  font-family: 'Lobster', cursive; }

.font-arial-rounded {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.cfh-green {
  background-color: #009688; }

.font-luminari {
  font-family: "luminari"; }

.font-freckle-face {
  font-family: "Freckle Face";
  font-size: 36px;
  color: rgba(0, 0, 0, 0.54); }

.mt-5 {
  margin-top: 5em; }

.landing-notification {
  display: inline-block !important;
  padding-left: 20px !important;
}

.landing-notification span {
  float: left !important;
  color: white !important;
  top: -6px !important;
}

.landing-notification i {
  float: left !important;
  margin-top: 3px !important;
}

@media (min-width: 768px) {
  .mt-sm-5 {
    margin-top: 5em; }
    .mt-sm-1{
      margin-top: 1em;
    }
   }

.mt-3 {
  margin-top: 3em; }

  .mb-3 {
    margin-bottom: 3em;
   }
  
    @media (max-width: 767px) {
  .mt-1 {
    margin-top: 1em; } 
    .mb-1{
      margin-bottom: 1em;
    }
  }

.mt-0 {
  margin-top: 0; }

.mb-0 {
  margin-bottom: 0; }

.mr-3 {
  margin-right: 3em; }

.ml-3 {
  margin-left: 3em; }

.pt-3 {
  padding-top: 3em; }

.pt-1 {
  padding-top: 1em; }

.cfh-orange {
  background-color: #F5A623; }

.cfh-signup-red {
  background-color: #da3e51; }

.cfh-signup-red:hover {
  background-color: #da3e51;
  color: #fff !important;
 }

.cfh-htp-25 {
  background-color: rgba(0, 150, 136, 0.25); }

.cfh-htp-50 {
  background-color: rgba(0, 150, 136, 0.5); }

.cfh-htp-75 {
  background-color: rgba(0, 150, 136, 0.75); }

.cfh-htp-100 {
  background-color: #009688; }

.cfh-red {
  background-color: #D0021B; }

.navbar-brand {
  font-size: 2.1rem; }

#main-desc {
  background: #282F38;
  height: 400px;
  position: relative;
  overflow: hidden;
  display: flex; }

#main-desc a:hover {
  color: transparent; }

#main-desc .container {
  position: relative;
  display: flex;
  align-items: center; }

#main-desc .row {
  display: flex;
  align-items: center; }

.main-title {
  font-size: 48px;
  color: #FFFFFF;
  width: 414px;
 }

#main-cards {
  position: absolute;
  bottom: -90px;
  right: 0; }

.main-desc-text{
  margin-top: -90px;
}
@media (max-width: 1024px) and (min-width: 426px) {
  .main-desc-text {
    width: 250px; }
  #main-cards {
    width: 450px; } }

@media (min-width: 426px) and (max-width: 767px) {
  #main-cards {
    bottom: -45px;
    width: 400px; 
  } 
  }

@media (max-width: 425px) {
  #main-cards {
    bottom: -65px;
    width: 100%; 
  }
  .main-desc-text {
    width: 100%;
    text-align: center; 
  }
  .main-title {
    width: 100%;
    font-size: 32px;
    margin-top: 0;
  } 
}

.main-motto {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: normal; }

#main-cfh-definition {
  position: relative;
  height: 403px;
  display: flex;
  align-items: center;
  overflow: hidden; 
}

@media (max-width: 425px) {
  #main-cfh-definition {
    height: 500px;
  }
  #main-how-play{
    height: 650px;
  }
}  

@media (max-width: 376px) {
  #main-how-play{
    height: 700px;
  }
}  

#main-how-play .row .col{
  height: 200px;
}

#main-how-play .row .col >div{
  height: 100%;
}

#main-cfh-definition p {
  font-family: Helvetica;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.54); }

#main-cfh-definition img {
  width: 100%;
  position: absolute; }

#main-cfh-definition .small-card {
  position: absolute;
  width: 30px;
  height: 30px;
  opacity: 0.2; }

#main-cfh-definition .small-card.one, #main-cfh-definition .small-card.two {
  top: 0; }

#main-cfh-definition .small-card.three, #main-cfh-definition .small-card.four {
  bottom: 0; }

#main-cfh-definition .small-card.one, #main-cfh-definition .small-card.three {
  left: -10px; }

#main-cfh-definition .small-card.two, #main-cfh-definition .small-card.four {
  right: -15px; }

#main-how-play {
  background-image: linear-gradient(-180deg, #FFFFFF 0%, #F2EFEF 100%);
  min-height: 415px;
  display: flex;
  align-items: center; }

#main-how-play p {
  font-family: Helvetica, Arial, sans-serif; }

#main-how-play h4 {
  font-family: "Freckle Face"; }

#main-how-play .col > div {
  padding: 10px; }

@media (min-width: 768px) {
  #main-how-play .row {
    display: flex; }
  #main-how-play .row .col {
    display: flex; } }

@media (max-width: 374px) {
  #main-how-play .row {
    display: initial; } }

#main-donation .donation-logo {
  height: 170px; }

#main-donation p {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif; }

#main-donation {
  background-image: url(../svg/donation.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 648px;
  display: flex;
  align-items: center;
  background-size: cover; }

.main-donation-actions {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif; }

#main-avatars-warning img {
  width: 100%; }

#main-avatars-warning {
  height: 472px;
  display: flex;
  align-items: center; }

@media (max-width: 767px) {
  #main-avatars-warning {
    height: 300px; } }

footer {
  min-height: 305px;
  display: flex;
  align-items: center; }

.main-social img {
  margin-top: 1em; }

.footer-red {
  min-height: 16px; }

#slide-out {
  width: calc(100% - 80px);
  top: 56px;
  width: 250px; }

  .side-nav li>a:hover {
    color: rgba(0,0,0,0.87) !important;
  }

  .carousel .carousel-item{
    width: 300px;
    height: 300px;
  }